$color-yellow: #FFE600;
$color-blue: #3483FA;
$color-white: #FFF;
$color-gray-1: #EEE;
$color-gray-2: #999;
$color-gray-3: #666;
$color-gray-4: #333;
$color-black: #000;

$size-1: 8px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;
$size-7: 56px;
$size-8: 64px;
$size-9: 72px;
$size-10: 80px;
$size-11: 88px;
$size-12: 96px;

$border-rad: 3px;
